/* Wrapper
--------------------------------------*/
.wrapper {
  max-width: 40rem;
  color: $clr-paragraph;
  margin: 5rem 0;
  height: max-content;
  @media (min-width: $breakpoint-md) {
    display: flex;
    max-width: 62rem;
  }
}

/* Card (Common)
--------------------------------------*/
.card {
  padding: 7rem 3rem 3.2rem 3rem;
  background-position: 3rem 3rem;
  @media (min-width: $breakpoint-md) {
    padding: 8rem 5.5% 3.2rem 5.5%;
    background-position: 21% 3rem;
  }
  &-heading {
    font-family: $ff-secondary;
    font-size: 2.5rem;
    color: $clr-heading;
    text-transform: uppercase;
  }
  &-text {
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 0 0 1.5rem 0;
    @media (min-width: $breakpoint-md) {
      line-height: 1.6rem;
      padding: 2rem 0;
      height: 16rem;
    }
  }
  &-lnk {
    display: block;
    width: 8rem;
    background-color: $clr-lnk;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    border-radius: 3rem;
    border: 0.1rem solid transparent;
  }
  &-lnk:hover {
    border: 0.1rem solid $clr-lnk;
  }
}

/* Cards (individual)
--------------------------------------*/
.card-1 {
  background-color: $clr-bg-card-1;
  background-image: url(../images/icon-sedans.svg);
  background-repeat: no-repeat;
  border-radius: 0.5rem 0.5rem 0 0;
  @media (min-width: $breakpoint-md) {
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .card-lnk {
    color: $clr-bg-card-1;
  }
  .card-lnk:hover {
    background-color: $clr-bg-card-1;
    color: $clr-paragraph;
  }
}
.card-2 {
  background-color: $clr-bg-card-2;
  background-image: url(../images/icon-suvs.svg);
  background-repeat: no-repeat;
  .card-lnk {
    color: $clr-bg-card-2;
  }
  .card-lnk:hover {
    background-color: $clr-bg-card-2;
    color: $clr-paragraph;
  }
}
.card-3 {
  background-color: $clr-bg-card-3;
  background-image: url(../images/icon-luxury.svg);
  background-repeat: no-repeat;
  border-radius: 0 0 0.5rem 0.5rem;
  @media (min-width: $breakpoint-md) {
    border-radius: 0 0.5rem 0.5rem 0;
  }
  .card-lnk {
    color: $clr-bg-card-3;
  }
  .card-lnk:hover {
    background-color: $clr-bg-card-3;
    color: $clr-paragraph;
  }
}
