body {
  font-family: $ff-primary;
  background-color: $clr-bg-main;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1.5rem;
  @media (min-width: $breakpoint-md) {
    height: 100vh;
  }
}
.attribution {
  color: $clr-attribution-text;
  font-size: 0.8rem;
  width: 100%;
  text-align: center;

  a {
    color: $very-dark-cyan;
  }
  a:hover {
    color: $dark-cyan;
    text-decoration: none;
  }
}
